#form-guest {
    background-color: #b0b7bf;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.603);
    max-width: 600px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  /* Título centrado y ocupa las dos columnas */
  #form-guest h2 {
    grid-column: span 2;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Divs para las etiquetas y los inputs */
  #form-guest div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
  }
  
  /* Estilo de las etiquetas */
  #form-guest label {
    font-size: 0.9rem;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 0.3rem;
    width: 100%;
  }
  
  /* Estilo de los inputs */
  #form-guest input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #2c3e50;
  }
  
  #form-guest input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Email ocupa ambas columnas */
  #form-guest .email-container {
    grid-column: span 2;
  }
  
  /* Contenedor del botón */
  #form-guest .button-container {
    grid-column: span 2;
    justify-content: center;
  }
  
  /* Estilo del botón */
  #form-guest button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: #06b348;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #form-guest button:hover {
    background-color: #e0a800;
  }
  
  /* Contenedor de la tabla */
  .table-responsive {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;  
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;  
  }
  /* La tabla no ocupe más del 100% del contenedor */
  .table {
    width: 100%; 
     
  }

 
  
  /* Para pantallas pequeñas, hacer el formulario de una sola columna */
  
  @media screen and (min-width: 600px) and (max-width: 1024px){
    
    #form-guest {
      grid-template-columns: 1fr;
  
    }
   
    
    .table-responsive table {
      display: flex;
      justify-content: center;
      margin: auto;
    }
  
    thead {
      display: none;
    }
  
    tbody tr {
      display: flex;
      flex-direction: column;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 0.5rem;
    }
  
    tbody tr td {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      width: 100%;
     
    }
  
    tbody tr td::before {
      content: attr(data-label);
      font-weight: bold;
      color: #2c3e50;
      flex: 0 0 50%;
      text-align: left;
    }
  
    tbody tr td:last-child {
      justify-content: center;
    }
  }
  
  